<!DOCTYPE html>
<html>

  <head>
    <title>FtTranscendence</title>
    
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
    
  <body data-user-signed-in="<%= user_signed_in? ? "true" : "false" %>">
      
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= render "shared/navbar"%>
    
    <div style="background-color:white;height:100%;width:100%;" id="view-content">
      view-container
    </div>
    
    <%= render "shared/footer"%>

    <%#= yield %>

    </body>
</html>
